.button {
    min-width: 190px;
    height: 50px;
    border-radius: 15px;
    font-size: 18px;
    font-weight: bold;
    padding: 0 20px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
}
.HomeDirector {
    position: fixed;
    bottom: 24px;
    right: 24px;
    margin: 0;
}

.button--verde,
.button--Verde {
    background-color: #128D5F;
    color: #FFFFFF;
    border: none;
}

.button--verde:hover,
.button--Verde:hover {
    background-color: #0D6645;
    color: #F5F5F5;
}

.button--branco,
.button--Branco {
    background-color: #FFFFFF;
    color: #128D5F;
    border: 2px solid #128D5F;
}

.button--branco:hover,
.button--Branco:hover {
    background-color: #F5F5F5;
    color: #0D6645;
    border: 2px solid #0D6645
}

.Limpar{
    position: fixed;
    bottom: 24px;
    right: 200px;
}

.HomeDirector{
    position: fixed;
    bottom: 24px;
    right: 12px;
}

.details {
    width: 168px;
    height: 34px;
    font-size: 14px;
    border-radius: 12px;
}

@media (min-width: 1024px) and (max-width: 1366px) {
    .button {
        min-width: 157px;
        height: 57px;
        border-radius: 20px;
        font-size: 18px;
    }
}