@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;500;700&display=swap');

/*Explicação
    Aqui fica todas as variáveis globais, tipo o fundo das páginas
    que sempre vai ser o mesmo ou até mesmo as características da sidebar

*/

:root {
    --color-background: #F2F2F2;
    --font-family: 'Lexend Deca', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-background);
    font-family: var(--font-family);
    display: block;
    height: 100%;
    /* display: flex; */
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow: hidden;
}


main {
  flex: 1;
  overflow-y: auto;
  height: 100vh;
  padding: 30px
}


::placeholder{
    font-family: var(--font-family);
}



.page-layout {
  display: flex;
  width: 100%;
  height: 100vh;
}


.container-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    width: 100%; 
    padding-bottom: 30px;
    box-sizing: border-box;
}


.title-card, .title-form{
font-size: 1.5rem;
  color: #4A4A4D;
  text-align: left;
}

.title-card:hover{
     color: #146A4A; 
}


