.info {
    background-color: #FFFF;
    width: 100%;
    height: 290px;
    margin-top: 5%;
    box-sizing: border-box;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px; /* ← distância entre header e progress bar */
}

h1,h2{
    color: #4A4A4D; ;
}

@media (max-width: 1366px) {
    .info {
        height: 250px;
        width: 90%;
    }
}

@media (max-width: 1280px) {
    .info {
        height: 230px;
        width: 93%;
    }
}

@media (max-width: 1024px) {
    .info {
        height: 220px;
        width: 90%;
    }
}