.spacing{
    padding-bottom: 40px;
}
.title-h1 {
  font-size: 2rem;
  color: #4A4A4D;
  text-align: left;
}

.subtitle-h1{
  font-size: 1.2rem;
  color: #4A4A4D;
  margin-top: 5px;
  text-align: left;
}
