.kpi-container {
    display: flex;
    gap: 16px;
    justify-content: space-between;
    width: 100%;
}

.kpi-card {
    flex: 1;
    background-color: #fff;
    padding: 24px 20px;
    border-radius: 12px;
    display: flex;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.02);
}

.card-horizontal {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card-horizontal .kpi-title {
    max-width: 100px; 
    text-align: left;
}

.card-vertical {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.card-vertical .kpi-title {
    max-width: none; 
    text-align: center;
}

.kpi-title {
    margin: 0;
    font-size: 22px;
    color: #4A4A4D;
}

.kpi-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid #0F9D58;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.1rem;
    color: #333;
}

.kpi-value {
    font-weight: bold;
    font-size: 2rem;
}

.kpi-circle-container {
    position: relative;
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.kpi-circle-container svg {
    position: absolute;
    transform: rotate(-90deg);
}


.circle-progress {
    transition: stroke-dashoffset 1s ease-in-out;
    animation: drawCircle 1.2s ease-out forwards;
}

@keyframes drawCircle {
    from {
        stroke-dashoffset: 283; 
    }
}
.kpi-circle-text {
    display: flex;
    align-items: baseline; 
    z-index: 1; 
}

.kpi-circle-done {
    font-size: 36px;
    font-weight: bold;
    color: #0F9D58;
}

.kpi-circle-total {
    font-size: 22px;
    color: #888;
    margin-left: 2px;
}