.OKRConcluded {
    background-color: #FFFFFF;
    width: calc(100vw - 444px - 80px);
    height: 144px;
    border-radius: 10px;
    margin-top: 2%;
    margin-left: 40px;
}


.Titulo{
    margin-top: 1% ;
    margin-left: 1%;
    font-size: 32px;
    font-weight: bold;

}
@media (max-width:1366px){
.OKRConcluded {
    background-color: #FFFFFF;
    width: calc(100vw - 444px - 80px);
    height: 124px;
    border-radius: 10px;
    margin-top: 2%;
    margin-left: 40px;
}


.Titulo{
    margin-top: 1% ;
    margin-left: 1%;
    font-size: 24px;
    font-weight: bold;

}

}