.team-card-hm {
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 20px;
    background-color: #fff;
    text-align: center;
    width: 100%; 
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 180px;
}

.team-card-hm:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

.title-card-hm{
    color:#146A4A;
    text-decoration: underline;
}

.subtitle-card-hm{
    color: #4a5568;
    font-size: 0.9rem;
    margin-top: 15px;
}

.client-team-car-hm {
    color: #4A4A4D;
    font-weight: bold;
    display: block;
    margin-top: auto; 
    padding-top: 10px;
    
}
