.modal{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
    background-color: #FFFFFF;
    width: 500px;
    max-width: 90%;
    padding: 1.2rem;
    border-radius: .5rem;
}

.modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc ;
    margin-bottom: 1rem;
    padding-bottom: 1rem;

}

.modal-body {
    margin-bottom: 1rem;

}

.modal.hide,.fade.hide{
    opacity: 0;
    
}

.text-button {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    color: blue;
    cursor: pointer;
    text-decoration: underline;
  }

  .text-button:hover {
    color: darkblue;
  }